<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="telegram-gpt.ZPM">
    <Module>
      <Name>telegram-gpt</Name>
      <Description>Production that enables Telegram bot to talk to ChatGPT</Description>
      <Version>0.2.8</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>production-settings</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>objectscript-json-trace-viewer</Name>
          <Version>1.0.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>telegram-adapter</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>iris-openai</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="shvarov.telegramgpt.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
      <Default Name="TgToken" Value="Telegram Token" />
      <Default Name="GPTKey" Value="GPTKey" />
      <Invoke Class="shvarov.telegramgpt.Setup" Method="Init" >
         <Arg>${TgToken}</Arg>
         <Arg>${GPTKey}</Arg>
      </Invoke>
      <Invoke Class="shvarov.telegramgpt.Setup" Method="StartProduction" >
      </Invoke>
    </Module>
  </Document>
</Export>
